.card {
  color: white;
  border: 5px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s, transform 0.3s ease;
  -moz-transition: 0.3s, transform 0.3s ease;
  -webkit-transition: 0.3s, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 15px white;
  -ms-transform: scale(1.03); /* IE 9 */
  -webkit-transform: scale(1.03); /* Safari */
  transform: scale(1.03);
}

.card-title {
  color: white;
}
