:root {
    /* Colors */
    --color-text: rgb(255, 255, 255);
    
    --color-redBull: rgb(54,113,198);
    --color-mercedes: rgb(108,211,191);
    --color-ferrari: rgb(249,21,54);
    --color-mclaren: rgb(245,128,32);
    --color-astonMartin: rgb(53,140,117);
    --color-alpine: rgb(34,147,209);
    --color-williams: rgb(55,190,221);
    --color-alphaTauri: rgb(94,143,170);
    --color-alfaRomeo: rgb(201,45,75);
    --color-haas: rgb(182,186,189);
    
  
    /* Fonts */

  }
  